.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 25%;
  text-align: left;
  position: fixed;
  top: 150px;
  height: 75%;
  overflow: scroll;
  /* margin-left: 2rem; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* padding: 2rem; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  z-index: 200;
}

.small_box {
  background: rgba(255, 120, 172, .1);
  transition: 1s;
  opacity: 0.8;
  /* mix-blend-mode: hard-light; */
  /* filter: grayscale(100%);  */
  box-shadow: 0px 0px 10px rgba(0,0,0, .15);
  /* box-shadow: 0px 0px 10px rgba(255, 120, 172, .3); */
  z-index: 100;
}

.small_box:hover {
  /* background: rgba(255, 120, 172, .3);
  color: black; */
  filter: grayscale(0%);
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(255, 120, 172, .5);
  background: rgba(255, 242, 247, 1);
  z-index: 200;
}

.logo {
  -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

p {
  margin: 5px 0;
  font-size: 12px;
}

h3, h5, a {
  color: rgba(255, 120, 172);
  text-decoration: none;
  /* text-shadow: 0px 0px 10px pink; */
}

.draggable {
  color: gray;
  transition: color 0.5s;
}
.draggable:hover {
  /* color: rgba(255, 120, 172); */
  color: black;
  /* z-index: 75; */
}

.draggable a {
  opacity: 0;
  transition: opacity 1s;
}

.draggable:hover a {
  opacity: 1;
}